.main {
  width: 90vw;
  overflow: hidden;
  max-width: 800px;
  height: 90vh;
  max-height: 500px;
  display: flex;
  align-items: center;
  padding: 10px;
backdrop-filter: blur(10px);
  background-color: #70d7ff2c;
  border-radius: 10px;
  border: 1px solid #ffffff;
}

.profiles {
  overflow: hidden;
}

.profiles {
  height: 90%;
  width: 50%;
}
.text {
  border-left: 2px solid white;
  padding-left: 20px;
  height: 90%;
  width: 40%;
}
.profiles img {
  width: 100%;
}
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.text h2 {
    background-color: rgba(0, 217, 255, 0.324);
  padding: 10px;

}
body {
  display: flex;
  width: 100vw;
    background: rgb(255, 0, 249);
  background: linear-gradient(
    90deg,
    rgba(255, 0, 249, 1) 0%,
    rgba(237, 255, 2, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );
  overflow: hidden;
  justify-content: center;
  height: 100vh;
  align-items: center;
  flex-direction: column;
}
.content {
    width: 100%;
    padding: 20px;
}
